ul {
    list-style-type: none;
}

/* ---- SQUARE ---- */
.square {
    width: 110px;
    transition: transform .4s;
}
.square:hover {
    transform: translateX(500px);
}
.first {
    background-color: rgb(255, 176, 7);
    padding: 40px 20px;
    color: black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    transition: background 1s, transform 0.4s ;/* we can specify where we want this to be added like i've done here. you simply separate by a comma */
}
.first:hover {
    background-color: rgb(9, 236, 39);
    transform: rotateZ(360deg)
}

/* ----- CIRCLE ----- */
.circle {
    background-color: rgb(252, 5, 219);
    padding:40px 20px;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    transition: background 1s, transform 2s ease;
}

.circle:hover {
    background-color: salmon;
    transform: translateX(260px) translateY(120px);
}

/* ---- More practical animations -- animated land ---- */

.sky,
.grass {
    height: 25vh;
}
.road {
    padding-top: 80px;
    height: 30vh;
}

.lines {
    border-bottom: 20px dashed white;
    width: 100%;
    vertical-align: middle;
}
/* ELEMENTS TO ANIMATE */

img {
    width: 180px;
    height: 150px;
}
.car {
    position: absolute;
    rotate: 180deg;
}
.truck {
    position: absolute;
   bottom: -160px;
}