ul {
    list-style-type: none;
    justify-content: space-around;
}
li a {
    color:white;
    transition: color 3s, transform 2s;
    text-decoration:none;
    justify-content: space-around;
}

li a:hover {
    color: red;
    transform: scaleX(2) rotateZ(360deg);
}
/* ---- SQUARE ---- */
.square {
    width: 110px;
    transition: transform .4s;
}
.square:hover {
    transform: translateX(500px);
}
.first {
    background-color: rgb(255, 176, 7);
    padding: 40px 20px;
    color: black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    transition: background 1s, transform 0.4s ;/* we can specify where we want this to be added like i've done here. you simply separate by a comma */
}
.first:hover {
    background-color: rgb(9, 236, 39);
    transform: rotateZ(360deg)
}

/* ----- CIRCLE ----- */
.circle {
    background-color: rgb(252, 5, 219);
    padding:40px 20px;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    transition: background 1s, transform 2s ease;
}

.circle:hover {
    background-color: salmon;
    transform: translateX(260px) translateY(120px);
}

/* ---- More practical animations -- animated land ---- */

.sky,
.grass {
    height: 25vh;
}
.road {
    padding-top: 80px;
    height: 35vh;
}

.lines {
    border-bottom: 20px dashed white;
    width: 100%;
    vertical-align: middle;
}
/* ELEMENTS TO ANIMATE */

.car {
    position: absolute;
    rotate: 180deg;
    left: 0;
    width: 180px;
    height: 150px;
    animation-name: car;
    animation-duration: 8s;
    /* animation-fill-mode: both; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.truck {
    width: 180px;
    height: 90px;
    position: absolute;
    bottom: -120px;
    left: 1120px;
    animation-name: truck;
    animation-duration: 15s;
    animation-fill-mode: both;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.bus {
    width: 180px;
    height: 90px;
    animation-name: bus;
    animation-duration: 12s;
    animation-fill-mode: both;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* KEYFRAMES */

 @keyframes car {
     from {
         transform: translateX(-300px);
     }
     to{
         transform: translateX(1300px);
     }
 }
 @keyframes bus {
    from {
        transform: translate(-300px, 15px);
    }
    to{
        transform: translate(1300px, 15px);
    }
}
 @keyframes truck {
     from {
         transform: translateX(300px);
     }
     to {
         transform: translateX(-1300px);
     }
 }